body {
   margin: 5%;
   padding: 0;
   width: 100%;
   height: 100%;
   color: black;
   background-color: #d0dac9;
   display: table;
   font-weight: 100;
   font-family: 'Lato';
}
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }

input.money {
   width: 50px;
   height: 50px;
   font-size:15px;
   font-family:Arial;
   font-weight:normal;
   -moz-border-radius:28px;
   -webkit-border-radius:28px;
   border-radius:28px;
   border:1px solid #eeb44f;

   text-decoration:none;
   background:-moz-linear-gradient( center top, #ffce79 15%, #eeaf41 90% );
   background:-ms-linear-gradient( top, #ffce79 15%, #eeaf41 90% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
   background:-webkit-gradient( linear, left top, left bottom, color-stop(15%, #ffce79), color-stop(90%, #eeaf41) );
   background-color:#ffce79;
   color:#ffffff;
   display:inline-block;
   text-shadow:-1px 1px 2px #ce8e28;
   -webkit-box-shadow: -28px -5px 15px -34px #fceaca;
   -moz-box-shadow: -28px -5px 15px -34px #fceaca;
   box-shadow: -28px -5px 15px -34px #fceaca;
}
#login-user { position: absolute;
               top: 10px;
               right: 10px;
               border: 1px blue none;}
input.game {
   font-size:16px;
   font-family:Arial;
   font-weight:normal;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
   border-radius:8px;
   border:1px solid #3866a3;
   padding:9px 18px;
   text-decoration:none;
   background:-moz-linear-gradient( center top, #63b8ee 52%, #468ccf 53% );
   background:-ms-linear-gradient( top, #63b8ee 52%, #468ccf 53% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
   background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #63b8ee), color-stop(53%, #468ccf) );
   background-color:#63b8ee;
   color:#14396a;
   display:inline-block;
   text-shadow:1px 1px 0px #7cacde;
   -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
   -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
   box-shadow:inset 1px 1px 0px 0px #bee2f9;
}
td.t1 { color: blue; }